<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.4b">
	<id>KITSUNE_SYSTEM_PLUGIN</id>
	<version>1.5</version>
	<name>Kitsune's System</name>
	<description>Plugin adiciona suporte para o sistema desenvolvido por Kitsune</description>
	<author>Masaki</author>
	<site>http://www.seusite.com.br</site>
	<contact>rafkawa@gmail.com</contact>
</module>
